$primary-color: #252525;
$gray: #65657b;
$danger-color: #EE4F4F;
$primary-gradient: linear-gradient(to top right, rgba(112, 189, 232, 95%) 45%, rgba(197, 79, 149, 15%)) no-repeat;
$primary-margin-left: 11px;
