@import 'variables';

.form {
  margin: 0 auto;
  padding: 50px 20px;
  width: 100%;
  max-width: 840px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  border-radius: 5px;

  position: relative;

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: $primary-color;
  }

  &__subtitle {
    margin-top: 20px;

    font-size: 20px;
    font-weight: 500;
  }

  &__name {
    margin-bottom: 5px;
    margin-left: $primary-margin-left;
    color: $gray;
  }

  &__steps {
    margin: 5px 0 20px;

    font-size: 18px;
    color: $primary-color;
  }

  &__buttons {
    margin-top: 10px;
  }

  &__buttons > button:first-child {
    margin-right: 10px;
  }

  &__control {
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    max-width: 520px;
    width: 100%;

    position: relative;
  }

  &__items {
    margin-left: $primary-margin-left;
  }

}

.small {
  margin-left: $primary-margin-left;
  margin-top: 5px;

  font-size: 14px;

  &-error {
    color: #EE4F4F;
  }

  &-required {
    color: $gray;
  }
}

@media (max-width: 1024px) {
  .form {
    &__control {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .form {
    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: 500px) {
  .form {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 18px;
      text-align: center;
    }
  }
}

@media (max-width: 360px) {
  .form {
    &__buttons {
      display: flex;
      flex-direction: column;
    }

    &__buttons > button:first-child {
      margin-right: 0;
    }
  }
}
